Source: qico
Section: net
Priority: optional
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 8.0), libncurses-dev
Standards-Version: 3.6.2

Package: qico-common
Architecture: all
Depends: adduser
Description: FTN compatible mailer with many features
 It includes such features as: dynamic configuration, color ncurses
 frontend, chat, outbound manager, perl. Supported emsi and
 binkp protocols over modem and(or) tcp/ip. It uses Binkley
 and Amiga-style outbounds.
 .
 This package contains common directory structure, scripts and
 documentation.

Package: qico
Architecture: any
Depends: qico-common, ${shlibs:Depends}
Conflicts: qico-qcc
Description: FTN compatible mailer with many features
 It includes such features as: dynamic configuration, color ncurses
 frontend, chat, outbound manager, perl. Supported emsi and
 binkp protocols over modem and(or) tcp/ip. It uses Binkley
 and Amiga-style outbounds.
 .
 This binary package is built without frontend support, good for
 servers.

Package: qico-qcc
Architecture: any
Depends: qico-common, ${shlibs:Depends}
Conflicts: qico
Description: FTN compatible mailer with many features
 It includes such features as: dynamic configuration, color ncurses
 frontend, chat, outbound manager, perl. Supported emsi and
 binkp protocols over modem and(or) tcp/ip. It uses Binkley
 and Amiga-style outbounds.
 .
 This is a full version with frontend support.
